/* configuracao padrao */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
    color: #0b0b0b;
    font-size: 1.5em;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: #e8e4e4;
}
.navbar img{
width: 150px;

}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li+li{
margin-left: 5px;
}
.navbar li a{
    list-style: none;
    display: block;
    padding: 10px 20px;
}
.navbar li a:hover{
    color: #f9f8f8;
    background-color: #010101;
    border-radius: 5px;
}
/* usando o display: flex */
.sub-conteiner{
    display: flex;
    flex-wrap: wrap;
    /* diminuir o tamanho da tela. vai dar permissao de quebrar a coluna */
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1024px;
    height: 1024px;
    padding: 20px;
}
.conteiner{
    width: 1024px;
    margin: 0 auto;
}
.section{
    display: grid;
    grid-template-columns: 512px 512px ;
}
.img-area, .text-area{
    width: 512px ;
    align-items: center;
    display: grid;

}
.img-area{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.img-area img{
    max-width: 100%;
    padding: 20px;
    border-radius: 80px;
    transition: all .25s ease ;

}
.img-area span{
    opacity: 0;
    position: absolute;
    transition: all .25s ease;
    z-index: 1;

}

.img-area span:hover{
    transform: scale(1.01);
}
.img-area img:hover{
    filter:sepia();
}
.img-area:hover>span{
    font-size: 50px;
    color: #ee02af;
    opacity:5;
}
.text-area{
    color: #05074e;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
}

.text-area h1{
    margin-bottom:20px ;
    cursor: copy;
}
.text-area{
    text-align: center;
}
.bg.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 5px;
    background:url(/proj_motion/img/mountain_3.png);
    background-size: cover;
}
